/* (General / Default) formatting */

html {
    height: 100%;
    scroll-padding-top: 250px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

div.page-header {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    color: rgb(80,140,160);
    margin-top: -50px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

div#main-body {
    min-height: 850px;
    background-color: #F0FFFF;
}

.row-flex {
    display: flex;
    clear: both;
    overflow: hidden;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center-justify {
    justify-content: center;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.small-text {
    font-size: medium;
}

div.main-text-content {
    max-width: 1500px;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 25px;
    font-size: 25px;
}

div.interjection-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 10px solid darkorange;
    background-color: rgb(230,240,255);
    margin-left: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,.6)
}

div.content-right {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
}

div.mid-separator-background {
    background-color: lavender;
    color: black;
    margin: 0;
    padding: 0;
}

/* Formatting for navbar/header in header.html */

#header-container {
    width: 100%;
    /*background-color: rgb(200,240,255);*/
    background-color: hsl(216, 100%, 97%);
    box-shadow: 5px 5px 5px rgba(0,0,50, 0.2);
    max-height: 300px;
    padding-bottom: 0px;
    z-index: 1;
}
@media(min-width:1200px) {
    #header-container {
        position: fixed;
        left: 0;
        top: 0;
    }
    body {    
        padding-top: 250px;
    }
}


div#top-bar-logo {
    padding: 10px;
}

div#top-bar-logo img {
    width: 450px;
}
div#top-bar-other {
    margin-left: 500px;
}

div#top-bar-motto {
    padding: 0;
    padding-top: 25px;
    padding-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 600
}

div#contact-info-top {
    float: right;
    text-align: left;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 0;
}

div#contact-info-top a {
    text-decoration: none;
    color: inherit;
    display: block;
}

div#contact-info-top p {
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

div#contact-info-top #contact-number {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-fill-color:darkorange;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 45px;
    font-weight: 900;
    margin-left: 10px;
}

#contact-drip {
    /*-webkit-text-fill-color:rgb(140,200,215);;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;*/
    -webkit-text-fill-color:rgb(100,160,180);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
}

div#nav-bar {
    box-shadow: 5px 5px 5px cadetblue;
    /*border: solid 1px mediumaquamarine;
    /*background-color:mediumaquamarine;*/
    background-color:hsl(195, 33%, 35%);
    border-radius: 4px;
    margin-right: -10px;
}

ul.clearfix {
    zoom:1;
}
ul.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.nav-bar-web-list {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    font-size: 18px;
    font-weight: 350;
    text-transform: capitalize;
    line-height: 1.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    border-top: solid 1px mediumaquamarine;
    border-left: solid 1px mediumaquamarine;
    border-radius: inherit;
}

ul.nav-bar-web-list li {
    float: left;
    margin: 5px;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
    min-width: 120px;
    min-height: 50px;
    text-align: center;
}

ul.nav-bar-web-list li.active {
    background-color: #CEE;
    margin: 1px;
    border: 4px solid #CEE;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    border-radius: 3px;
    color: black;
    font-weight: 700;
}

ul.nav-bar-web-list li a {
    color: inherit;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

ul.nav-bar-weblist li:hover {
    border-radius: 2px;
    font-weight: 700;
}
ul.nav-bar-web-list li:not(.active):hover {
    border-bottom: 4px solid darkorange;
}
ul.nav-bar-web-list li.active:hover {
    border-bottom: 4px solid black;
    font-size: 19px;
}
#right-nav-element {
    float: right;
    border: 1px solid midnightblue;
    background-color: navy;
    color: white;
    margin-right: 250px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

#right-nav-element a:hover {
    border: none;
    margin: 0;
    color: black;
    border-radius: 5px;
    background-color:rgb(180, 230, 255);
}

div#main-body {
    background-color: white;
}
.dropdown-content {
    padding-top:12px;
    position: absolute;
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: black;
    min-width: 250px;
}
.dropdown-links {
    box-shadow: inset 0px 0px 10px 2px rgb(0,50,50,0.4);
    background-color: #CEE;
}
.dropdown-links a {
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-links a:hover {
    font-size: 17px;
    font-weight: 600;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Formating for index.html content */

div#index-intro {
    max-width: 1650px; 
}

.index-fade {
    animation-name: index-fade;
    animation-duration: 0.5s;
}
  
@keyframes index-fade {
    from {filter: brightness(30%)} 
    to {filter: none}
}

div#index-slideshow-row {
    max-width: 1750px;
}

div#index-selling-points li {
    margin: 10px;
}

button#index-call-us {
    font-size: 40px;
    font-weight: 600;
    padding: 35px 40px 35px 40px;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 35px;
    cursor: pointer;
    background-color: rgb(255, 192, 203);
    border-width: 3px;
    box-shadow: 3px 3px 3px 3px rgba(72, 61, 139, 0.5);
}

button#index-call-us:hover {
    background-color:hotpink;
}

div.index-gallery-image-container {
    display: none;
}

div.index-gallery-image-container img {
    margin-left: 30px;
    margin-right: 30px;
    width: 425px;
    height: 425px;
    /*object-fit: cover;*/
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.6);
    border: 1px solid #AAA;
}

div#index-location-header {
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

div#index-services {
    margin-top: 75px;
}

div#index-location-list {
    padding-bottom: 70px;
    padding-top: 20px;
}

div.index-separator {
    background-color:hsl(195, 33%, 35%);
    color: white;
}

/* Formatting for gallery.html content */

div#gallery-main {
    margin-right: 150px;
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
    box-shadow: 0px 2px 4px 0px rgba(95, 158, 160, 0.4);
    background-color: #EBF5F5;
}

div.gallery-row {
    padding-top: 25px;
    padding-bottom: 25px;
}

div.gallery-image {
    margin: 5px;
    border: 2px solid #aaa;
    width: 360px;
}
div.gallery-image:hover {
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
}
div.gallery-image img {
    width: 360px;
    height: 360px;
}
div.gallery-description {
    padding: 15px;
}

/* Formatting for services.html */

div.services-body {
    background-image: url("../images/test_background.png");
    background-color: rgba(255,255,255, 0.8) !important;
    background-blend-mode: lighten;
    margin-top: -100px;
    padding-top: 100px;
    background-size: 110%;
}
div.services-list {
    margin-bottom: 70px;
    border-left: 15px solid rgb(80,140,160);
    background-color: hsl(25, 43%, 92%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .6);
    border-radius: 5%;
}

div.services-list ul {
    font-size: 20px;
}
div.services-list ul li {
    margin-top: 5px;
}
#services-header {
    font-size: 45px;
    color: rgb(60, 120, 140);
}
#payments-warranties {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 50px;
}

#services-warranty {
    color: rgb(80, 140, 160);
}

/* Formatting for repipes.html */

div#repipes-header {
    box-shadow: 2px 2px 2px cadetblue;
}

div#repipes-corrosion img {
    width: 250px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.6);
}

div#repipes-services-list ul {
    font-size: 20px;
}
div#repipes-services-list ul hr {
    margin-bottom: 20px;
    margin-top: 15px;
}
div#repipes-services-list ul li {
    margin-top: 10px;
}

/* Formatting for about.html content */
#headshot-text {
    font-size: 22px;
    font-weight: 800;
}

div.image-container-center-align {
    display: flex;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-right: 50px;
    padding-left: 60px;
}

div.image-container-center-align img {
    width: 500px;
    border-radius: 5%;
}

ul#location-list-cities {
    list-style-type: none;
    padding-left: 0;
    column-count: 2;
}

ul#location-list-cities li {
    font-size: 20px;
    margin-bottom: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

div#about-main h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

div#about-main h2 {
    font-size: 29px;
    padding-top: 20px;
}

div#about-main h3 {
    font-size: 22px;
}

div#about-main {
    padding-bottom: 10px;
}

div#about-contact {
    padding-top: 15px;
}

.undecorated-link {
    color: black;
    text-decoration: none;
}

div#about-licensing {
    padding-right: 135px;
    text-align: center;
}
div#about-licensing h3 {
    font-size: 25px;
}
div#about-licensing p {
    font-size: 20px;
}

div#about-locations {
    padding-bottom: 30px;
    margin-bottom: 0;
    max-width: 1200px;
}

div#about-locations h1 {
    font-size: 35px;
}

div#about-locations h2 {
    font-size: 29px;
}

/* Styles for our-team.html */

div#team-header {
    background-image: url(../images/sunset-copy.png);
    background-color: rgba(235,245,255, .3) !important;
    background-blend-mode: lighten;
    background-size: auto 800px;
    background-position: left top;
    margin-top: -400px;
    padding-top: 400px;
    margin-bottom: 0px;
    padding-bottom: 50px;
}
div#team-intro {
    padding-bottom: 5px;
}
div#team-intro p{
    font-size: 20px;
}
div#team-intro strong {
    font-size: 21px;
}
div#team-intro-left {
    width:500px;
    margin-top: -20px;
    color: rgba(235, 245, 255, .8);
}
div#team-intro-left h2 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div#team-intro-left h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
div#team-intro-right {
    max-width: 1000px;
    padding: 10px 10px 10px 20px;
    box-shadow: 0px 0px 10px cadetblue;
    background-color: rgba(235, 245, 255, .95);
    border-radius: 10px;
}
div#team-story-separator {
    height:20px;
    /*background-color: rgb(236,204,162);*/
    background-color: black;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}
div#story-header {
    margin-top: 75px;
}
div.story-section {
    font-size:18px;
    padding-bottom: 10px;
    max-width: 1150px;
}
div#logo-story {
    width: 500px;
    font-size: 14px;
    margin-left: 4%;
    padding-left: 1%;
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgba(0,0,0,.6), 0px 0px 2px black;
    border-top: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(236,204,162, 0.2);
}
div#our-team-footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Styling for footer.html */

div#footer-container {
    width: 100%;
    background-color: rgb(236,204,162);
}

div#copyright-notice {
    font-size: 15px;
    font-weight: 300;
    padding: 35px 40px 60px 40px;
}

div#footer-company-info {
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#footer-company-name {
    width: 475px;
}

.footer-info-col {
    float: left;
    width: 250px;
    padding-left: 25px;
}

.footer-info-col h5 {
    font-size: 18px;
    margin-bottom: 0;
}

ul.footer-info-links {
    overflow: hidden;
    list-style-type: none;
    text-transform: capitalize;
    font-size: 18px;
    padding-left: 0;
    padding-top: 0;
}

ul.footer-info-links li {
    margin-bottom: 7px;
}

ul.footer-info-links a {
    text-decoration: none;
    color: rgb(31, 52, 60);
}

ul.footer-info-links a:hover {
    color: black;
    font-weight: 700;
    font-size: 17px;
}

#footer-company-name h5 {
    margin-top: 25px;
    font-size: 30px;
    font-family: 'Georgia', 'Times New Roman';
    font-weight:800;
}

p#footer-motto {
    font-size: 25px;
    font-weight:500;
    margin-top: 7px;
}

#footer-company-name p {
    font-family: 'Georgia', 'Times New Roman';
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Reviews */

#reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 10px solid cadetblue;
    gap: 10px;
    background-color: cadetblue;
    justify-items: center;
}

.review {
    padding: 30px;
    max-width: 1000px;
    background-color: hsl(25, 43%, 85%);
    align-content: center;
    border-radius: 20px;
}

.review cite {
    padding-left: 40px;
}

.review-header {
    text-align: center;
    padding-top: 50px;
    color: hsl(25, 43%, 95%);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#main-body-reviews { 
    background-color: cadetblue;
    margin-top: -100px;
    padding-bottom: 50px;
}